<h1>Listing iniciativas</h1>

<table>
  <tr>
    <th>Contrato</th>
    <th>Fecha</th>
    <th>Compromiso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iniciativas.each do |iniciativa| %>
  <tr>
    <td><%= iniciativa.contrato_id %></td>
    <td><%= iniciativa.fecha %></td>
    <td><%= iniciativa.compromiso %></td>
    <td><%= link_to 'Show', iniciativa %></td>
    <td><%= link_to 'Edit', edit_iniciativa_path(iniciativa) %></td>
    <td><%= link_to 'Destroy', iniciativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iniciativa', new_iniciativa_path %>
