<%= form_for(@plan_contingencia) do |f| %>
  <% if @plan_contingencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan_contingencia.errors.count, "error") %> prohibited this plan_contingencia from being saved:</h2>

      <ul>
      <% @plan_contingencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :riesgo_id %><br />
    <%= f.number_field :riesgo_id %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
