<h1>Listing plan_contingencias</h1>

<table>
  <tr>
    <th>Riesgo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plan_contingencias.each do |plan_contingencia| %>
  <tr>
    <td><%= plan_contingencia.riesgo_id %></td>
    <td><%= plan_contingencia.descripcion %></td>
    <td><%= link_to 'Show', plan_contingencia %></td>
    <td><%= link_to 'Edit', edit_plan_contingencia_path(plan_contingencia) %></td>
    <td><%= link_to 'Destroy', plan_contingencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plan contingencia', new_plan_contingencia_path %>
