<h1>Listing riesgos</h1>

<table>
  <tr>
    <th>Nemo</th>
    <th>Probabilidad</th>
    <th>Impacto</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @riesgos.each do |riesgo| %>
  <tr>
    <td><%= riesgo.nemo %></td>
    <td><%= riesgo.probabilidad %></td>
    <td><%= riesgo.impacto %></td>
    <td><%= riesgo.descripcion %></td>
    <td><%= link_to 'Show', riesgo %></td>
    <td><%= link_to 'Edit', edit_riesgo_path(riesgo) %></td>
    <td><%= link_to 'Destroy', riesgo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Riesgo', new_riesgo_path %>
