<p id="notice"><%= notice %></p>

<p>
  <b>Empresa:</b>
  <%= @contrato.empresa_id %>
</p>

<p>
  <b>Area:</b>
  <%= @contrato.area_id %>
</p>


<%= link_to 'Edit', edit_contrato_path(@contrato) %> |
<%= link_to 'Back', contratos_path %>
